/* Seu arquivo Passeios.css */

/* Efeito de animação para o modal */
@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Efeito de animação para o fundo do popup */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Estilos para o Modal de Detalhes */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Aplica o efeito de fade-in no fundo */
    animation: fadeIn 0.3s ease-out forwards;
}

.passeio-detail-modal {
    display: flex;
    background-color: white;
    border-radius: 35px; /* Borda arredondada no modal inteiro */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 1000px;
    height: 630px; 
    overflow: hidden;
    /* Aplica o efeito de fade-in e scale no modal */
    animation: fadeInScale 0.3s ease-out forwards;
}

.detail-modal-image-placeholder {
    flex: 1;
    background-color: #5cb1e0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.detail-modal-content {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detail-modal-title {
    font-size: 30px;
    font-weight: 700;
    color: black;
    margin-left: 30px;
    margin-top: 70px;
}

.detail-modal-info p {
    margin: 0 0 20px 30px; /* Define margem: topo 0, direita 0, inferior 10px, esquerda 0 */
    font-size: 19px;
    color: black;
}

.edit-button {
    background-color: #5cb1e0;
    color: white;
    border: 1px solid #5cb1e0;
    border-radius: 20px;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    align-self: center;
    width:50%;
    margin-bottom: 35px
}

.edit-button:hover {
    background-color: #4da5d0;
}